html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 15pt;
    font-family: "Lucida Console", Monaco, monospace;
}
.header-component {
    -webkit-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    padding: 0 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
    display: flex;
    width: 100%;
    height: 60px;
    top: 0;
    color: #e2e6e8;
}

a {
    text-underline: none;
    text-decoration: none;
    color: inherit;
}

#override-bootstrap1 {
    text-decoration: none;
    color: inherit;
}

#override-bootstrap2 {
    text-decoration: none;
    color: inherit;
}

#override-bootstrap3 {
    text-decoration: none;
    color: inherit;
}

#override-bootstrap4 {
    text-decoration: none;
    color: inherit;
}

#override-bootstrap5 {
    text-decoration: none;
    color: inherit;
}


.upper-left-corner {
    padding: 0 16px;
}

.upper-right-corner {
    padding: 0 16px;
}

.lower-left-corner {
    padding: 0 16px;
}

.lower-right-corner {
    padding: 0 16px;
}

.footer-component {
    -webkit-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 2;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
    display: flex;
    padding: 0 0px;
    bottom: 0;
    width: 100%;
    height: 50px;
}

#wrapper {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@keyframes blur {
    0% {filter: blur(9px); }
    10% {filter: blur(7px); }
    20% {filter: blur(5px); }
    30% {filter: blur(3px); }
    40% {filter: blur(0px); }
    50% {filter: blur(3px); }
    60% {filter: blur(5px); }
    70% {filter: blur(7px); }
    80% {filter: blur(5px); }
    90% {filter: blur(3px); }
    100% {filter: blur(0px); }
}

@-o-keyframes blur {
    0% {filter: blur(9px); }
    10% {filter: blur(7px); }
    20% {filter: blur(5px); }
    30% {filter: blur(3px); }
    40% {filter: blur(0px); }
    50% {filter: blur(3px); }
    60% {filter: blur(5px); }
    70% {filter: blur(7px); }
    80% {filter: blur(5px); }
    90% {filter: blur(3px); }
    100% {filter: blur(0px); }
}

@-moz-keyframes blur {
    0% {filter: blur(9px); }
    10% {filter: blur(7px); }
    20% {filter: blur(5px); }
    30% {filter: blur(3px); }
    40% {filter: blur(0px); }
    50% {filter: blur(3px); }
    60% {filter: blur(5px); }
    70% {filter: blur(7px); }
    80% {filter: blur(5px); }
    90% {filter: blur(3px); }
    100% {filter: blur(0px); }
}

@-webkit-keyframes blur {
    0% {filter: blur(9px); }
    10% {filter: blur(7px); }
    20% {filter: blur(5px); }
    30% {filter: blur(3px); }
    40% {filter: blur(0px); }
    50% {filter: blur(3px); }
    60% {filter: blur(5px); }
    70% {filter: blur(7px); }
    80% {filter: blur(5px); }
    90% {filter: blur(3px); }
    100% {filter: blur(0px); }
}

@-ms-keyframes blur {
    0% {filter: blur(9px); }
    10% {filter: blur(7px); }
    20% {filter: blur(5px); }
    30% {filter: blur(3px); }
    40% {filter: blur(0px); }
    50% {filter: blur(3px); }
    60% {filter: blur(5px); }
    70% {filter: blur(7px); }
    80% {filter: blur(5px); }
    90% {filter: blur(3px); }
    100% {filter: blur(0px); }
}

.blur-this {
    width: 30vw;
    -webkit-animation: 5s ease-out 0s 1 blur;
    -moz-animation: 5s ease-out 0s 1 blur;
    -o-animation: 5s ease-out 0s 1 blur;
    -ms-animation: 5s ease-out 0s 1 blur;
    animation: 5s ease-out 0s 1 blur;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.center {
    text-align: center;
    margin: auto;
    width: 50%;
    vertical-align: baseline;
}

.middle {
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 120%;
    color: #e2e6e8;
}

.icon {
    text-decoration: none;
}

.icon:before {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 1.25em;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon > .label {
    display: none;
}